@mixin stance( $name )
{
    $_event: true !global;
    $_temp: $_selector;
    $_selector: & !global;

    @at-root #{&}.is-#{$name} {
        @content;
    }

    $_event: false !global;

    $_selector: $_temp !global;
}