
// -- Breakpoints -------------------------------------

// ----------------------------------------------------
//
// ----------------------------------------------------

@mixin at( $point ) {
    $point: if( type-of( $point ) == 'number', $point, breakpoint( $point ) );
    @media ( min-width: $point ) {
        @content;
    }
}

// ----------------------------------------------------
//
// ----------------------------------------------------

@mixin until( $point ) {
    $point: if( type-of( $point ) == 'number', $point, breakpoint( $point ) );
    @media ( max-width: $point ) {
        @content;
    }
}

// ----------------------------------------------------
//
// ----------------------------------------------------

@mixin between( $atPoint, $untilPoint ) {
    $atPoint: if( type-of( $atPoint ) == 'number', $atPoint, breakpoint( $atPoint ) );
    $untilPoint: if( type-of( $untilPoint ) == 'number', $untilPoint, breakpoint( $untilPoint ) );
    @media ( min-width: $atPoint ) and ( max-width: $untilPoint ) {
        @content;
    }
}